*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-accent-color: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-prim-text-color: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
}
/* Общие стили для двух страниц */

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

button {
  font-family: inherit;
}

header {
  border-bottom: 1px solid #ececec;
}

/*WebStudio*/
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text-primary {
  color: var(--title-text-color);
}

.logo-text-secondary {
  color: var(--title-accent-color);
}

/* Меню */
.menu-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

/* Контакты в nav*/
.contact-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Футер */
footer {
  background-color: var(--footer-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.adr {
  color: var(--title-accent-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  margin-top: 20px;
}

.footer-link {
  color: var(--footer-prim-text-color);

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 9px;
}

/* Стили для index.html */

/* Герой */
.hero {
  color: var(--title-accent-color);
  /*background-color: var(--title-text-color); /*тимчасовий backround-color*/

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-section {
  background-color: #2f303a;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

/* Кнопка "Заказать услугу" */
.btn {
  color: var(--title-accent-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  cursor: pointer;
}

/* Блок Особенности */
.section {
  padding-top: 94px;
}

.subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 10px;
  margin-bottom: 0;
}

/* Блок Чем мы занимаемся */
.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* Блок Наша команда */
.team-section {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.sub-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 0;
}

.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 0;
}

.card-team {
  width: 270px;
  /*height: 368px;*/

  background-color: var(--title-accent-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
}

/* Стили для portfolio.html*/

/* Кнопки */
.btn-nav {
  color: var(--title-text-color);
  background-color: var(--button-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.btn-nav:hover,
.btn-nav:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* Блок Портфолио */
.project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 0;

  margin-left: 24px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-top: 4px;
  margin-bottom: 0;

  margin-left: 24px;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-portfolio {
  width: 370px;
  border: 1px solid #eee;
  padding-bottom: 20px;
}

.margin-buttom {
  margin-bottom: 56px;
}
