:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-accent-color: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-prim-text-color: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
}
/* Общие стили для двух страниц */

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

button {
  font-family: inherit;
}

/*WebStudio*/
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text-primary {
  color: var(--title-text-color);
}

.logo-text-secondary {
  color: var(--title-accent-color);
}

/* Меню */
.menu-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

/* Контакты в nav*/
.contact-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Футер */
footer {
  background-color: var(--footer-bg-color); /*тимчасовий backround-color*/
}

.adr {
  color: var(--title-accent-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link {
  color: var(--footer-prim-text-color);

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Стили для index.html */

/* Герой */
.hero {
  color: var(--title-accent-color);
  background-color: var(--title-text-color); /*тимчасовий backround-color*/

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка "Заказать услугу" */
.btn {
  color: var(--title-accent-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Блок Особенности */
.subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Блок Чем мы занимаемся */
.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* Блок Наша команда */
.sub-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
}

.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Стили для portfolio.html*/

/* Кнопки */
.btn-nav {
  color: var(--title-text-color);
  background-color: var(--button-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn-nav:hover,
.btn-nav:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* Блок Портфолио */
.project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
